{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
    <style>
        body {
            background-image:    url({{ asset('build/images/cover.jpg') }});
            background-size:     cover;                      /* <------ */
            background-repeat:   no-repeat;
            background-position: center center;              /* optional, center the image */
        }
        main {
            position: absolute;
            top: 50%;
            left:50%;
            transform:translate(-50%, -50%);
            -webkit-transform:translate(-50%, -50%);
            -moz-transform:translate(-50%, -50%);
        }
        main h1,p {
            color: white;
            text-shadow: 2px 2px 4px #000000;
        }

    </style>
    <body class="d-flex text-center vh-100 d-flex w-100 h-100 mx-auto flex-column">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column align-middle">
        <main class="px-3">
            <h1>BeiBao</h1>
            <p class="lead">BeiBao is a Chinese takeaway service and is located in the centre of Leuven</p>
            <p class="lead">
                <a href="{{ path('menu') }}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">View menu</a>
            </p>
        </main>

        <footer class="mt-auto">
            <p>© {{ 'now' | date('Y') }} Beibao | All Rights Reserved</p>
        </footer>
    </div>
    </body>

{% endblock %}
