{% block submit_widget %}
    <button type="submit" id="product_form_save" name="product_form[save]" class="btn-dark btn">Save</button>
{% endblock %}

{#{% block _product_form_thumbnail_widget %}#}
{#    <input type="file" id="product_form_thumbnail" name="product_form[thumbnail]" required="required" maxlength="255" class="form-control">#}
{#{% endblock %}#}